<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>TestAug Web</title>
</head>

<body>
    <header style="margin-left:2.5vw">
        <h1>Welcome to TestAug!</h1>
    </header>
    <p>
        TestAug is a program that helps generate hate speech. It does this by looking at user
        input and checking if they contain language that could be considered hateful. If it finds
        such language, it will automatically generate a response that is also hateful. User can
        chose which generate output to use.</p>
    {% block content %}
    {% endblock content %}
</body>